# Pakiety potrzebne do uruchomienia przykładów z katalogu kod/
# Instalacja:  pip install -r requirements.txt
numpy
matplotlib
scikit-learn
pennylane
jax                         # wymagany przez notatniki z katalogu warsztaty/
